<h1>Listado de usuarios</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><h3>email</h3></th>
      <th scope="col"><h3>Rol</h3></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <th><%= u.email %></th>
        <th><%= u.role %></th>
      </tr>
    <% end %>
  </tbody>

</table>
